@model KillerApp_ASP.ViewModels.TrackViewModel

@{
    ViewBag.Title = "Edit track";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Track"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ArtistName)
        @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ArtistName,"", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TrackName)
        @Html.TextBoxFor(m => m.TrackName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TrackName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Label)
        @Html.TextBoxFor(m => m.Label, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Label, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    </div>
    <div class="form-check">
        <label class="form-check-label">
            Deal
            <br/>
            @Html.CheckBoxFor(m => m.Deal)
        </label>
    </div>


    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

