@model KillerApp_ASP.ViewModels.AccountPageViewModel

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account page</h2>
<hr/>
<h3>Add fund</h3>
<small class="lead">Current fund €@Model.Fund,-</small>
<div class="row">
    <div class="card col-md-3">
        <div class="card-header">€5,-</div>
       @Html.ActionLink("Add","AddFund","User", new {id = Model.Id, value = 5}, new {@class = "card-body btn btn-primary"})
    </div>  
    <div class="card col-md-3">
        <div class="card-header">€10,-</div>
        @Html.ActionLink("Add","AddFund","User", new {id = Model.Id, value = 10}, new {@class = "card-body btn btn-primary"})
    </div>  
    <div class="card col-md-3">
        <div class="card-header">€20,-</div>
        @Html.ActionLink("Add","AddFund","User", new {id = Model.Id, value = 20}, new {@class = "card-body btn btn-primary"})
    </div>  
    <div class="card col-md-3">
        <div class="card-header">€50,-</div>
        @Html.ActionLink("Add","AddFund","User", new {id = Model.Id, value = 50}, new {@class = "card-body btn btn-primary"})
    </div>
</div>
<hr/>
<h3>Purchase history</h3>
@if (Model.Tracks.Any())
{
    <div class="container">
        <table id="AccountPageTracks" class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Track name</th>
                <th>Artist name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var orderTrack in Model.Tracks)
            {
                <tr>
                    <td>@orderTrack.PurchaseDate.ToShortDateString()</td>
                    <td>@orderTrack.Track.TrackName</td>
                    <td>@orderTrack.Track.ArtistName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>


}
else
{
    <p>You have made no purchases yet.</p>
}

<script>
    $(document).ready(function() {
        $("#AccountPageTracks").DataTable();
    });
</script>


